APP_TITLE=<Заголовок проекта>

DESCRIPTION=<Описание проекта>

DATABASE_URL=sqlite+aiosqlite:///./<название базы данных>.db

SECRET=<секретное слово>

FIRST_SUPERUSER_EMAIL=<email суперюзера>

FIRST_SUPERUSER_PASSWORD=<пароль суперюзера>